<div class="container">
	<h1>New Consignee</h1>
	<div class="row">
		<div class="col-lg-8">
			<%= render 'form' %>
		</div>
	</div>
	<br/>
	<div class="row">
		<%= link_to 'Back', consignees_path, class: "btn btn-primary" %>
	</div>
</div>
