<!DOCTYPE html>
<html>
<head>
  <style type="text/css">
  	tr {
		page-break-inside: avoid;
	}
  </style>
  <title>PDF</title>
  <%= wicked_pdf_stylesheet_link_tag 'application', media: 'all','data-turbolinks-track' => true %>
</head>
<body>
  <div class='container'>
    <%= yield %>
  </div>

</body>
</html>